{% extends 'base.html' %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">登&nbsp;&nbsp;录</h3>
    </div>
    <div class="panel-body">
        <div class="login-form">
            <form method="post" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <div class="input-group">
                    <span class="input-group-addon">用户名</span>
                    {{form.UserName}}
                </div>
                <div class="input-group">
                    <span class="input-group-addon">密码</span>
                    {{form.PassWord}}
                </div>

                <div class="error">
                    {% for msg in get_flashed_messages() %}
                    <p>{{msg}}</p>
                    {% endfor %}

                    {% if form.errors.UserName %}
                        {% for error in form.errors.UserName %}
                        <p>{{error}}</p>
                        {% endfor %}
                    {% else %}
                        {% for error in form.errors.PassWord %}
                        <p>{{error}}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                {{form.Submit}}
            </form>
        </div>
    </div>
</div>
{% endblock %}